@import "../../assets/scss/mixin.scss";
.star-rating {
    display: flex;
    justify-content: right;
    gap: 5px;

    img {
        width: 13px;
        
        @include respond-to (tablet) {
            width: 24px;
    }
        
    }

}