 @import "../../assets/scss/variables.scss";
 @import "../../assets/scss/mixin.scss";

.annonceHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;

    h1 {
        color: $primary;
        font-size: 18px;
        font-weight: 400;
        margin: 0;

        @include respond-to (tablet) {
            font-size: 36px;
    }
    }
    p {
        font-size: 14px;

        @include respond-to (tablet) {
            font-size: 18px;
    }
    }

    @include respond-to (tablet) {
        flex-direction: row;
        margin: 20px 0;
    }
}

.tags {
    display: flex;
    gap: 0.5rem;
    font-size: 10px;

    @include respond-to (tablet) {
        font-size: 14px;
}
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 13px;

    @include respond-to (tablet) {
        flex-direction: row;
        font-size: 18px;
    }
}

.host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1rem;
    
    @include respond-to (tablet) {
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 18px;
    }
}

.profil {
    display: flex;
    align-items: center;
    color: $primary;

    img {
        border-radius: 50%;
        width: 32px;
        margin-left: 0.5rem;
    }

    @include respond-to (tablet) {
        span {
            text-align: right;
            text-wrap: wrap;
            width: 80px;
        }
        img {
            width: 64px;
        }
    }
}