@import "../../App.scss";

.Gallery {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 20px;
    column-gap: 60px;
    margin-top: 20px;

    @include respond-to (tablet) {
        padding: 56px 50px;
        border-radius: 25px;
        background-color: grey;
        row-gap: 50px;
        margin-top: 50px;
    }
}