@import '../../assets/scss/variables.scss';

.accordion {
    width: 100%;

    &.open {
        .accordionContent {
            height: auto;
            padding: 10px 20px;
        }
        .accordionHeader-arrow {
            transform: rotate(180deg);
        }
    }
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    color: white;
    cursor: pointer;

    &-title {
        font-weight: bold;
        font-size: 15px;
    }

    &-arrow {
        transition: transform 0.3s;
    }
}

.accordionContent {
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.3s;
    background-color: $gray;
    border-radius: 10px 10px 5px 5px;
    line-height: 18px;
}